.footer {
    font-family: Arial, Helvetica, sans-serif; 
    font-style: oblique;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background:  linear-gradient(135deg,rgb(255, 255, 255), rgb(77, 77, 155));
    padding: 20px;
    padding-right: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif; 
    text-shadow: black;
    display: inline-block;
    margin: 10px 0;
    color: black;
}

.footer h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif; 
    text-shadow: black;
    display: inline-block;
    margin: 10px 0; 
    color: white;
    text-align: right; 
}